<!DOCTYPE html>
<html>
<head>
  <title>Chattr</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
  <%- renderJs('common') %>
  <%- renderJs('home') %>
  <!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-responsive.css"> -->
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
  <script type="text/javascript" src="javascripts/bootstrap.js"></script>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/home">Chattr</a>
        <ul class="nav pull-right">
        	<li class="active">
        		
        	</li>
        </ul>
      </div>
    </div>
  </div>
  


  <%- body %>

</body>
</html>
