<!-- Home -->
<div data-role="page">
    <div data-role="content" style="padding: 15px">
    	<h3>Choose a handle</h3>
    	<p>This can be anything you want</p>
    	<form method="post" action="/signin">
    		<input type="text" name="name" data-mini="true" />
    		<input type="hidden" name="lat" value="latvalue" />
    		<input type="hidden" name="long" value="longvalue" />
    		<input type="submit" name="submit" value="Enter Chattr" />
    	</form>
    </div>
</div>
