/* UTILITIES */

.pull-right {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

/* clearfix*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}

/* header */
#header-custom h3 {
	display: inline-block;
width: 50%;
margin: 10px;
}

#header-custom #user {
	display: inline-block;
text-align: right;
width: 45%;
margin: 10px;
}

#live-status {
	margin: 0;
padding: 1px 10px;
font-weight: normal;
background: rgba(222, 222, 222, 0.15);
border-top: 1px solid gray;
}

#chat-feed .name {
padding: 0px 0 10px;
display: block;
}
